In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('archive/basic1.csv')

df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [5]:
df.shape

(100, 8)

In [8]:
df = df[(df['age'] - np.floor(df['age']))!=0]

In [9]:
m_ceil = np.ceil(df['age']).mean()

m_floor = np.floor(df['age']).mean()

m_trunc = np.trunc(df['age']).mean()


m_ceil, m_floor, m_trunc

(23.75, 22.75, 23.0)

In [10]:
print(m_ceil + m_floor + m_trunc)

69.5