In [3]:
path = '/Users/kite/Desktop/new_folder/bigdata/archive/Titanic.csv'

In [4]:
import pandas as pd
import numpy as np


df = pd.read_csv(path)

df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
print(df.shape)

(891, 12)

In [6]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Gender           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:

Q1 = df['Fare'].quantile(0.25) # 1사분위수
Q3 = df['Fare'].quantile(0.75)

IQR = Q3 - Q1

lower_b = Q1 - (1.5 * IQR)
upper_b = Q3 + (1.5 * IQR)

In [8]:
print(f' lower_bound : {lower_b}, upper_bound : {upper_b}')

 lower_bound : -26.724, upper_bound : 65.6344

In [9]:
out_data1 = df[df['Fare']< lower_b]
out_data2 = df[df['Fare'] > upper_b]

print(len(out_data1))
print(len(out_data2))

0
116

In [11]:
out_data2.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C

In [13]:
# print(sum(out_data2['Sex']=='Female'))