In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import power_transform

In [3]:
df = pd.read_csv('archive/basic1.csv')

df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [4]:
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [5]:

print(df.shape)

df = df[df['age'] >=20]

print(df.shape)

(100, 8)
(83, 8)

In [10]:
print(f'최빈값 : {df['f1'].mode()[0]}')

# df['f1'].mode()[0]

df['f1'] = df['f1'].fillna(df['f1'].mode()[0])

print(f'결측치 처리 후 : {df.isnull().sum()}')

최빈값 : 50.0
결측치 처리 후 : id       0
age      0
city     0
f1       0
f2       0
f3      78
f4       0
f5       0
dtype: int64

In [11]:
df['y'] = power_transform(df[['f1']])

df['y'].head()

2    0.101083
3   -0.585402
4    1.463459
5   -0.143094
6    0.040578
Name: y, dtype: float64

In [18]:
df['y'] = power_transform(df[['f1']], standardize=False)

df['y'].head()

2    20.583423
3    17.968081
4    25.773745
5    19.653167
6    20.352915
Name: y, dtype: float64

In [19]:
df['b'] = power_transform(df[['f1']], method='box-cox')

df['b'].head()

2    0.100290
3   -0.585656
4    1.463969
5   -0.143784
6    0.039801
Name: b, dtype: float64

In [20]:
df['b'] = power_transform(df[['f1']], standardize=False, method='box-cox')
df['b'].head()

2    21.067089
3    18.305263
4    26.557679
5    20.084372
6    20.823544
Name: b, dtype: float64

In [21]:
from scipy import stats

x = stats.boxcox(df['f1'])
x

(array([21.06708862, 18.30526256, 26.55767894, 20.08437213, 20.82354418,
        29.92014364, 24.11822022, 22.7351046 , 18.30526256, 18.30526256,
        22.50056955, 26.55767894, 18.30526256, 26.98922181, 18.30526256,
        18.30526256, 24.34492159, 16.71079081, 18.30526256, 20.08437213,
        20.82354418, 13.87430298, 24.79522775, 21.78961488, 28.47348779,
        18.30526256, 18.30526256, 24.79522775, 18.30526256, 18.30526256,
        18.30526256, 24.34492159, 19.58413814, 17.78149093, 20.82354418,
        18.30526256, 27.20371085, 18.30526256, 24.34492159, 27.20371085,
        25.01886862, 18.30526256, 25.90374721, 18.30526256, 18.30526256,
        21.55009488, 18.30526256, 18.30526256, 18.30526256, 21.3092623 ,
        18.30526256, 26.77388228, 21.3092623 , 18.30526256, 18.30526256,
        18.82186843, 16.98150163, 26.55767894, 26.34059809, 18.30526256,
        29.3045178 , 17.5167931 ,  6.25392507, 12.96923681, 28.89049306,
        18.30526256, 20.82354418, 18.30526256, 18.30526256, 18.30526256,
        16.71079081, 19.58413814, 24.34492159, 22.26482618, 18.30526256,
        25.01886862, 20.08437213, 18.30526256, 16.43795328, 19.07760057,
        18.30526256, 20.33221862, 19.07760057]),
 0.655719250875248)

In [22]:
round(sum(np.abs(df['y'] - df['b'])), 2)

39.17