In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/kite/Desktop/new_folder/bigdata/archive/winequality-red.csv')

df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
df_corr = df.corr()

In [4]:
df_corr = df_corr[:-1] #quality - quality 상관관계 제거
print(df_corr['quality'])

fixed acidity           0.124052
volatile acidity       -0.390558
citric acid             0.226373
residual sugar          0.013732
chlorides              -0.128907
free sulfur dioxide    -0.050656
total sulfur dioxide   -0.185100
density                -0.174919
pH                     -0.057731
sulphates               0.251397
alcohol                 0.476166
Name: quality, dtype: float64

In [11]:
max_corr = abs(df.corr()['quality'][:-1]).max()
min_corr = abs(df.corr()['quality'][:-1]).min()

print(max_corr, min_corr)

0.47616632400113656 0.013731637340065814

In [12]:
if max_corr not in df.corr()['quality'][:-1].values : 
    max_corr = -max_corr

if min_corr not in df.corr()['quality'][:-1].values :
    min_corr = -min_corr

ans = round(max_corr + min_corr, 2)

print(ans)

0.49