In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('archive/payment.csv')
df.head()

       date  hour   menu  price
0  20221129    13   딸기라떼   4000
1  20221130    12   카페라떼   3000
2  20221201    14  바닐라라떼   3500
3  20221201    16   초코라떼   3500
4  20221202    17   모카라떼   3500

In [3]:
print(df['menu'].str.contains('라떼').sum())

10