In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('archive/payment.csv')

df.head()

       date  hour   menu  price
0  20221129    13   딸기라떼   4000
1  20221130    12   카페라떼   3000
2  20221201    14  바닐라라떼   3500
3  20221201    16   초코라떼   3500
4  20221202    17   모카라떼   3500

In [3]:
df.isnull().sum()

date     0
hour     0
menu     0
price    0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    13 non-null     int64
 1   hour    13 non-null     int64
 2   menu    13 non-null     object
 3   price   13 non-null     int64
dtypes: int64(3), object(1)
memory usage: 548.0+ bytes

In [9]:
df['menu'] = df['menu'].str.replace(' ','')

s1 = sum(df['menu'].str.contains('바닐라라떼'))
s2 = sum(df['menu'].str.contains('카페라떼'))
s3 = sum(df['menu'].str.contains('아메리카노'))

In [10]:
print((s1 * 5) + (s2*3) + (s3*2))

17