In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('archive/basic2.csv')

df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [3]:
df['Date'] = pd.to_datetime(df['Date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [5]:
df.isnull().sum()

Date       0
Sales      0
PV         0
UV        46
Events     0
dtype: int64

In [8]:
df['previous_PV'] = df['PV'].shift(1)

df.head()

        Date     Sales      PV      UV  Events  previous_PV
0 2022-01-01  22711525  397349  4421.0       1          NaN
1 2022-01-02     36779    3969  2289.0       0     397349.0
2 2022-01-03  13943875  373890     NaN       1       3969.0
3 2022-01-04   8088593  142054  2157.0       0     373890.0
4 2022-01-05   2395374  190684     NaN       0     142054.0

In [9]:
df['previous_PV'] = df['previous_PV'].fillna(method = 'bfill')

df.head()

/var/folders/3r/nmmcqm2j7sxcf3xbrvvkslvr0000gn/T/ipykernel_365/2824472217.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['previous_PV'] = df['previous_PV'].fillna(method = 'bfill')

        Date     Sales      PV      UV  Events  previous_PV
0 2022-01-01  22711525  397349  4421.0       1     397349.0
1 2022-01-02     36779    3969  2289.0       0     397349.0
2 2022-01-03  13943875  373890     NaN       1       3969.0
3 2022-01-04   8088593  142054  2157.0       0     373890.0
4 2022-01-05   2395374  190684     NaN       0     142054.0

In [10]:
cond = (df['Events'] == 1) & (df['Sales'] <= 1000000) 

df[cond]['previous_PV'].sum()

1894876.0