In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('archive/basic1.csv')

In [3]:
print(f'전체 데이터 : {df.shape}')
df = df[~(df['age'] <= 0)]

print('음수(0포함) 값 제거 후 데이터 크기 : ', df.shape)

df = df[(df['age'] == round(df['age'], 0))]

print('소수점 제거 후 데이터 크기 :', df.shape)

전체 데이터 : (100, 8)
음수(0포함) 값 제거 후 데이터 크기 :  (96, 8)
소수점 제거 후 데이터 크기 : (90, 8)

In [4]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [5]:
pd.qcut(df['age'], q=3)

0      (0.999, 38.667]
1      (0.999, 38.667]
2      (0.999, 38.667]
3      (73.333, 100.0]
4      (0.999, 38.667]
            ...
95     (73.333, 100.0]
96     (73.333, 100.0]
97    (38.667, 73.333]
98     (0.999, 38.667]
99    (38.667, 73.333]
Name: age, Length: 90, dtype: category
Categories (3, interval[float64, right]): [(0.999, 38.667] < (38.667, 73.333] < (73.333, 100.0]]

In [6]:
df['range'] = pd.qcut(df['age'], q=3, labels=['group1', 'group2', 'group3'])

In [7]:
df['range'].value_counts()

range
group1    30
group2    30
group3    30
Name: count, dtype: int64

In [8]:
g1_med = df[df['range'] == 'group1']['age'].median()
g2_med = df[df['range'] == 'group2']['age'].median()
g3_med = df[df['range'] == 'group3']['age'].median()

print(g1_med + g2_med + g3_med)

165.0