In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('archive/website.csv')

df.head()

   UserID            StartTime              EndTime   Page
0       1  2023-07-02 08:32:00  2023-07-02 12:41:00  Page1
1       1  2023-05-16 11:37:00  2023-05-16 13:29:00  Page5
2       1  2023-05-05 03:39:00  2023-05-05 05:48:00  Page2
3       1  2023-05-04 23:04:00  2023-05-05 01:54:00  Page3
4       1  2023-09-04 11:27:00  2023-09-04 14:09:00  Page1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9601 entries, 0 to 9600
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UserID     9601 non-null   int64
 1   StartTime  9601 non-null   object
 2   EndTime    9601 non-null   object
 3   Page       9601 non-null   object
dtypes: int64(1), object(3)
memory usage: 300.2+ KB

In [4]:
df['StartTime'] = pd.to_datetime(df['StartTime'])
df['EndTime'] = pd.to_datetime(df['EndTime'])
df['SessionDuration'] = (df['EndTime'] - df['StartTime']).dt.total_seconds() / 60
print(df['SessionDuration'].max())

300.0

In [9]:
most_visited_page = df['Page'].value_counts().idxmax()
cond = (df['Page'] == most_visited_page)
result = df[cond]['SessionDuration'].mean()
print(round(result/60))

3

In [12]:
def time_slot(hour) : 
    if 0 <= hour < 6 :
        return "새벽"
    elif 6 <= hour < 12 :
        return "오전"
    elif 12 <= hour < 18 :
        return "오후"
    else :
        return "저녁"
    
df['TimeSlot'] = df['StartTime'].dt.hour.apply(time_slot)
print(df['TimeSlot'].value_counts().iloc[:1])

TimeSlot
새벽    2447
Name: count, dtype: int64