In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("archive/diabetes_train.csv")
test = pd.read_csv("archive/diabetes_test.csv")

train.shape, test.shape

((576, 10), (192, 9))

In [3]:
train.head()

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,377,1,87,60,37,75,37.2,0.509,22,0
1,370,3,173,82,48,465,38.4,2.137,25,1
2,408,8,197,74,0,0,25.9,1.191,39,1
3,535,4,132,0,0,0,32.9,0.302,23,1
4,691,13,158,114,0,0,42.3,0.257,44,1

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        576 non-null    int64
 1   Pregnancies               576 non-null    int64
 2   Glucose                   576 non-null    int64
 3   BloodPressure             576 non-null    int64
 4   SkinThickness             576 non-null    int64
 5   Insulin                   576 non-null    int64
 6   BMI                       576 non-null    float64
 7   DiabetesPedigreeFunction  576 non-null    float64
 8   Age                       576 non-null    int64
 9   Outcome                   576 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 45.1 KB

In [5]:
train.isnull().sum()

id                          0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
test.isnull().sum()

id                          0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

cols = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
        'BMI', 'DiabetesPedigreeFunction', 'Age']

train[cols] = sc.fit_transform(train[cols])
test[cols] = sc.fit_transform(test[cols])

In [8]:
train.head()

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,377,-0.846722,-1.037009,-0.419767,1.000802,-0.061847,0.687444,0.086445,-0.949139,0
1,370,-0.255914,1.651637,0.676768,1.691778,3.319349,0.841447,4.828849,-0.698357,1
2,408,1.221105,2.401957,0.278028,-1.323388,-0.712077,-0.762752,2.073128,0.471957,1
3,535,0.039490,0.369841,-3.410317,-1.323388,-0.712077,0.135599,-0.516551,-0.865545,1
4,691,2.698124,1.182687,2.271727,-1.323388,-0.712077,1.341958,-0.647637,0.889927,1

In [9]:
train = train.drop('id', axis=1)
test = test.drop('id', axis=1)

In [10]:
target = train.pop("Outcome")

In [11]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=2022)
model.fit(train, target)
predictions = model.predict_proba(test)

In [ ]:
pred = predictions[:,1]

In [16]:
predictions[:,1]

array([0.59, 0.77, 0.  , 0.83, 0.33, 0.24, 0.57, 0.03, 0.32, 0.34, 0.56,
       0.17, 0.1 , 0.72, 0.04, 0.39, 0.32, 0.65, 0.59, 0.56, 0.36, 0.79,
       0.03, 0.68, 0.34, 0.2 , 0.64, 0.15, 0.47, 0.74, 0.29, 0.15, 0.74,
       0.  , 0.1 , 0.2 , 0.1 , 0.01, 0.06, 0.46, 0.4 , 0.13, 0.49, 0.32,
       0.18, 0.18, 0.24, 0.09, 0.28, 0.49, 0.81, 0.56, 0.33, 0.51, 0.55,
       0.03, 0.02, 0.76, 0.67, 0.33, 0.21, 0.36, 0.61, 0.22, 0.33, 0.26,
       0.45, 0.26, 0.39, 0.31, 0.51, 0.01, 0.27, 0.74, 0.01, 0.77, 0.56,
       0.66, 0.44, 0.05, 0.03, 0.27, 0.2 , 0.42, 0.1 , 0.54, 0.13, 0.06,
       0.  , 0.79, 0.  , 0.45, 0.67, 0.28, 0.43, 0.44, 0.23, 0.32, 0.16,
       0.25, 0.78, 0.47, 0.21, 0.44, 0.27, 0.12, 0.4 , 0.19, 0.24, 0.73,
       0.08, 0.15, 0.79, 0.  , 0.23, 0.  , 0.62, 0.04, 0.01, 0.7 , 0.25,
       0.5 , 0.76, 0.43, 0.63, 0.01, 0.64, 0.31, 0.02, 0.21, 0.41, 0.15,
       0.1 , 0.46, 0.83, 0.06, 0.13, 0.26, 0.56, 0.45, 0.53, 0.06, 0.  ,
       0.26, 0.  , 0.4 , 0.57, 0.84, 0.  , 0.15, 0.03, 0.35, 0.  , 0.12,
       0.39, 0.35, 0.34, 0.31, 0.8 , 0.2 , 0.4 , 0.6 , 0.77, 0.78, 0.51,
       0.08, 0.07, 0.34, 0.46, 0.02, 0.12, 0.23, 0.2 , 0.6 , 0.4 , 0.49,
       0.54, 0.02, 0.29, 0.01, 0.72, 0.74, 0.54, 0.48, 0.  , 0.7 , 0.05,
       0.91, 0.16, 0.84, 0.59, 0.19])

In [13]:
output = pd.DataFrame({'pred' : pred})

output.to_csv('result.csv', index=False)